<!-- Add Bonus Modal -->
<div
  class="modal fade"
  id="Modal-Add-{{ holding.script }}"
  tabindex="-1"
  aria-labelledby="Modal-Add"
  aria-hidden="true"
>
  <!--div modal fade starts-->
  <div class="modal-dialog">
    <!--div modal-dialog starts-->
    <div class="modal-content">
      <!--div modal-content starts -->
      <div class="modal-header">
        <!--div modal-header start-->
        <div><h5 class="modal-title">Script: {{ holding.script }}</h5></div>
        <div><h5 class="modal-title">Add Bonus</h5></div>
      </div>
      <!--div modal-header ends-->
      <div class="modal-body">
        <!--div modal-body starts-->

        <form action="/add_bonus" method="POST">
          <!--form starts-->
          {{ add_bonus.hidden_tag() }}

          <div>
            {% for sd in stock_data %} {% if sd.script == holding.script and
            sd.total_qty > 0 %}
            <div>
              <input
                type="hidden"
                class="form-control"
                name="script"
                value="{{ sd.script }}"
              />
              <input
                type="hidden"
                class="form-control"
                name="tc"
                value="{{ sd.trading_code }}"
              />
              <input
                type="hidden"
                class="form-control"
                name="shares_held"
                value="{{ sd.total_qty }}"
              />
              <p>Number of Shares in {{sd.trading_code}} is {{ sd.total_qty }}</p>
            </div>
            <hr />
            {% endif %} {% endfor %}
          </div>

          <hr />

          <div class="mb-3">
            <label class="col-form-label">Select an Account to Add Bonus</label>
              {% for a in stock_data %}
              {% if a.script == holding.script and a.total_qty > 0 %}
              <ul>
                <li>
                <input type="hidden" class="form-control" name="trade_account" value="{{a.trading_code}}"/>
                <input type="hidden" class="form-control" name="script" value="{{a.script}}"/>
                <label class="col-form-label">Number of Shares in {{a.trading_code}} is {{ a.total_qty }}</label>
                <input type="text" class="form-control" name="add_bonus" placeholder="Enter number of shares to add" required="True"/>
                </li>
              </ul>
              {% endif %}
              {% endfor %}
          </div>

          <hr />

          <div class="modal-footer">

            <button type="submit" class="btn btn-outline-secondary btn-sm">
              Add Bonus
            </button>
            <button
              type="button"
              class="btn btn-outline-secondary btn-sm"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </form>
        <!--form ends-->
      </div>
      <!--div modal-body ends-->
    </div>
    <!--div modal-content ends -->
  </div>
  <!--div modal-dialog ends-->
</div>
<!--div modal fade ends-->
