{% extends 'layout.html' %}
{% block title %}Analytics{% endblock title %}

{% block content %}
<div class="row"> <!--div first row starts (form)-->
    <div> <!--div col starts-->
        <table class="table table-dark table-striped table-sm">
            <thead>
                <th colspan="2"><div class="float-start">
                    <form  action = "/analysis_import" method = "POST" enctype = "multipart/form-data">
                        <input class="btn btn-outline-secondary btn-sm"  type = "file" name = "File" />
                        <input class="btn btn-outline-secondary btn-sm" type = "submit" value = "Import" />
                    </form>
                </div></th>
                <th><button class="btn btn-outline-secondary btn-sm" onclick="export_to_excel()" id="export_data">Export to xls</button></th>
                <th colspan="6"></th>
            </thead>
            <tbody>
                <form method="POST"> <!--Form starts-->
                    {{ my_research_forms.hidden_tag() }}

                        <tr>
                            <td>
                                {{ my_research_forms.script.label() }}
                                {{ my_research_forms.script(class="form-control", autocomplete="off", placeholder="Symbol") }}
                            </td>
                            <td>
                                {{ my_research_forms.price.label() }}
                                {{ my_research_forms.price(class="form-control", autocomplete="off", placeholder="Price") }}
                            </td>
                            <td>
                                {{ my_research_forms.call.label() }}
                                {{ my_research_forms.call(class="form-control", autocomplete="off", placeholder="Buy/Sell") }}
                            </td>
                            <td>
                                {{ my_research_forms.stop_loss.label() }}
                                {{ my_research_forms.stop_loss(class="form-control", autocomplete="off", placeholder="Enter Stop Loss") }}
                            </td>
                            <td>
                                {{ my_research_forms.target.label() }}
                                {{ my_research_forms.target(class="form-control", autocomplete="off", placeholder="Enter Target") }}
                            </td>
                            <td>
                                {{ my_research_forms.time_frame.label() }}
                                {{ my_research_forms.time_frame(class="form-control", autocomplete="off", placeholder="Enter Number of Days to achieve the target") }}
                            </td>
                            <td>
                                {{ my_research_forms.analyst.label() }}
                                {{ my_research_forms.analyst(class="form-control", autocomplete="off", placeholder="Enter Analyst Name") }}
                            </td>
                            <td>
                                {{ my_research_forms.resource.label() }}
                                {{ my_research_forms.resource(class="form-control", autocomplete="off", placeholder="Resource") }}
                            </td>
                            <td>
                                {{ my_research_forms.submit.label() }}
                                {{ my_research_forms.submit(class="btn btn-outline-secondary btn-sm") }}
                            </td>
                        </tr>

                </form> <!--Form ends-->

            </tbody>
        </table>
    </div> <!--div col ends-->
</div> <!--div first row ends (form)-->

<div class="row"> <!--div second row starts (table)-->
    <div> <!--div col starts-->
        <table class="table table-dark table-striped table-sm tableFixHead" id="data">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Script</th>
                    <th>Price</th>
                    <th>Call</th>
                    <th>Stop_loss</th>
                    <th>Target</th>
                    <th>Time_Frame</th>
                    <th>Analyst</th>
                    <th>Sl/Tgt</th>
                    <th>Performance</th>
                    <th>Resource</th>
                    <th>Holdings</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for analytic in analysis.items %}
                {% set outer_loop = loop %}
                    {% for hold in chk_holdings %}
                        {% if outer_loop.index0 == loop.index0 %}
                {% include 'includes/resource_modal.html' %}
                            <form action="/delete_analysis" method='POST'>
                                <tr>
                                    <td></td>
                                    <td>{{ analytic.date.strftime('%d/%m/%y') }}</td>
                                    <td>{{ analytic.script }}</td>
                                    <td>{{ format_price(analytic.price) }}</td>
                                    <td>{{ analytic.call }}</td>
                                    <td>{{ format_price(analytic.stop_loss) }}</td>
                                    <td>{{ format_price(analytic.target) }}</td>
                                    <td>{{ analytic.time_frame }} days</td>
                                    <td>{{ analytic.analyst }}</td>
                                    <td>todo</td>
                                    <td>performance</td>
                                    <td>
                                        <div style="width: 300px; height: 50px; overflow: auto">
                                            <button type="button" class="btn btn-outline-warning btn-sm" data-bs-toggle="modal" data-bs-target="#resource-{{ analytic.id }}">
                                                {{ analytic.resource }}
                                            </button>
                                        </div>
                                    </td>
                                    <td>{{ hold.holding }}</td>
                                    <td><input class="btn btn-sm btn-outline-secondary" type=button onClick="location.href='/delete_analysis/{{analytic.id}}'" value='Delete'></td>
                                </tr>
                            </form>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
            <div class="text-center paginated">
                {% for page in analysis.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page %}
                        {% if analysis.page == page %}
                            <a class="btn mb-4" id="btn-current" href="{{ url_for('analytics_page', page=page) }}">{{ page }}</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('analytics_page', page=page) }}">{{ page }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Script to export the table in excel format
            <script>
                var fl = document.getElementById('id_excel');
                fl.onchange = function(e){ 
                    var ext = this.value.match(/\.(.+)$/)[1];
                    switch(ext)
                    {
                        case 'xls':
                        case 'xlsx':
                            alert('allowed');
                            break;
                        default:
                            alert('not allowed');
                            this.value='';
                    }
                };
            </script>-->
            
    </div> <!--div col ends-->
<div class="row"> <!--div second row ends (table)-->
{% endblock content %}

<!-- functions for comma seprated digits -->
{%- macro format_price(price, thousand_separator=',', decimal_separator='.', decimal_places=2) -%}
{%- set price_as_string = price | string -%}
{%- set price_split = price_as_string.split('.') -%}
{%- set price_integer = price_split[0] -%}
{%- if price_split | count > 1 -%}
{%- set price_fraction = price_split[1] -%}
{%- if price_fraction | length < decimal_places -%}
{%- set price_fraction = price_fraction.ljust(decimal_places, '0') -%} 
{%- else -%}
{%- set price_fraction = price_fraction[:decimal_places] -%}
{%- endif -%}
{%- else -%}
{%- set price_fraction = '' -%}
{%- endif -%}
{%- set formatted_price_integer = price_integer | reverse | batch(3) | map('join', '') | join(thousand_separator) | reverse -%}
{%- if price_fraction != '' -%}
{%- set formatted_price = formatted_price_integer ~ decimal_separator ~ price_fraction -%}
{%- else -%}
{%- set formatted_price = formatted_price_integer-%}
{%- endif -%}
{{- formatted_price -}} {%- endmacro -%}