{% extends 'layout.html' %}
{% block title %}Fund History{% endblock title %}

{% block content %}
        <div class="table"> <!--div table column starts -->
            <div class='text-center'><h3>Fund History Table</h3></div>
            <table class="table table-light table-striped table-sm tableFixHead">
                <thead>
                    <tr>
                        <th scope="col">date</th>
                        <th scope="col">Trading Account</th>
                        <th scope="col">Pay In</th>
                        <th scope="col">Pay Out</th>
                        <th scope="col">Debits</th>
                        <th scope="col">Credits</th>
                        <th scope="col">Cr./Db Bal</th>
                    </tr>
                </thead>
                <tbody>
                        {% for fd in fund_data.items %}
                        <tr>
                            <td>{{ fd.date }}</td>
                            <td>{{ fd.trading_code }}</td>
                            <td>{{ format_price (fd.pay_in )}}</td>
                            <td>{{ format_price (fd.pay_out) }}</td>
                            <td>{{ format_price (fd.debits )}}</td>
                            <td>{{ format_price (fd.credits) }}</td>
                            <td>{{ format_price (fd.balance) }}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            <div class="text-center paginated"> <!--div paginated starts -->
                {% for page_num in fund_data.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if fund_data.page == page_num %}
                            <a class="btn btn-secondary mb-4" id="btn-current" href="{{ url_for('fund_history_page', page=page_num) }}">{{ page_num }}</a>
                        {% else %}
                            <a class="btn btn-outline-info mb-4" href="{{ url_for('fund_history_page', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            </div> <!--div paginated ends -->
        </div> <!--div table column ends -->
{% endblock content %}

{%- macro format_price(price, thousand_separator=',', decimal_separator='.', decimal_places=2) -%}
{%- set price_as_string = price | string -%}
{%- set price_split = price_as_string.split('.') -%}
{%- set price_integer = price_split[0] -%}
{%- if price_split | count > 1 -%}
{%- set price_fraction = price_split[1] -%}
{%- if price_fraction | length < decimal_places -%}
{%- set price_fraction = price_fraction.ljust(decimal_places, '0') -%} 
{%- else -%}
{%- set price_fraction = price_fraction[:decimal_places] -%}
{%- endif -%}
{%- else -%}
{%- set price_fraction = '' -%}
{%- endif -%}
{%- set formatted_price_integer = price_integer | reverse | batch(3) | map('join', '') | join(thousand_separator) | reverse -%}
{%- if price_fraction != '' -%}
{%- set formatted_price = formatted_price_integer ~ decimal_separator ~ price_fraction -%}
{%- else -%}
{%- set formatted_price = formatted_price_integer-%}
{%- endif -%}
{{- formatted_price -}} {%- endmacro -%}