{% extends 'layout.html' %}
{% block title %}Holdings{% endblock title %}
{% block content %}

<div class="container">
<div class="row"> <!--div first row starts (export - import)-->
        <div class="clear-fix col-6">
            <table  class="table table-light table-bordered table-sm hld_values">
                <tbody>
                    <tr>
                        <td>Net Investment:</td>
                        {% if net_investment.total_investment != None and net_investment.total_investment > 0 %}
                        <td class="float-column">{{ format_price(net_investment.total_investment) }}</td>
                        {% else %}
                        NA
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Current Value:</td>
                        {% if net_investment.total_investment != None and net_investment.total_investment > 0 %}
                        <td class="float-column">{{ format_price(curr_inv_val)}}</td>
                        {% else %}
                        NA
                        {% endif %}
                    </tr>
                    <tr>
                        <td>P/L:</td>
                        {% if net_investment.total_investment != None and net_investment.total_investment > 0 %}
                        {% set pl = curr_inv_val - net_investment.total_investment %}
                        <td class="{{ "green" if (pl > 0) == True else "red"}} float-column">{{ format_price(pl)}}</td>
                        {% else %}
                        NA 
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Total Scrips</td>
                        <td>{{total_scrips}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="clear-fix col-6">
            <div class="float-end">
                <form  action = "/data_import" method = "POST" enctype = "multipart/form-data">
                    <input class="btn btn-outline-secondary btn-sm"  type = "file" name = "File" />
                    <input class="btn btn-outline-secondary btn-sm" type = "submit" value = "Import" />
                </form>
            </div>
        </div>
        
    </div> <!--div first row ends (export - import)-->
</div>
    
    <div class="table">
        <table class="table table-light table-bordered table-striped table-sm" id="my-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">script</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Avg Cost</th>
                    <th>Net Investment</th>
                    <th>Curr. Price</th>
                    <th>Curr. Value</th>
                    <th>Gain/Loss</th>
                    <th>Buy/Sell</th>
                </tr>
            </thead>
            <tbody>
                {% for holding in holdings %}
                    {% set outer_loop = loop %}
                        {% if outer_loop.index0 == loop.index0 %}
                        {% include 'includes/trade_modal.html' %}
                        {% include 'includes/add_bonus_modal.html' %}
                                {% if (holding.net_qty | int) > 0 %}
                                    <tr>
                                        <td></td>
                                        <!--Script-->
                                        {% if '_' in holding.script %}
                                            <td>{{ holding.script | replace('_', '&') }}</td>
                                        {% else %}
                                            <td>{{ holding.script }}</td>
                                        {% endif %}
                                        
                                        <!--Qty-->
                                        <td class="float-column">{{ holding.net_qty }}</td>
                                        
                                        <!--Avg Cost-->
                                        {% set avg =  (holding.total_investments | int) / (holding.net_qty | int) %}
                                        {% if avg < 0 %}
                                            {% set avg = 0.00 %}
                                        {% endif %}
                                        <td class="float-column">{{ format_price(holding.avg_cost) }}</td>

                                        <!--Investment-->
                                        {% set invested = holding.total_investments %}
                                        {% if invested < 0 %}
                                            {% set invested = 0.00 %}
                                        {% endif %}
                                        <td class="float-column">{{ format_price(holding.total_investments)}}</td>

                                        <!--Last Traded Price-->
                                        <td class="float-column">{{ format_price(holding.current_price)}}</td>
                                           
                                        <!--Curr. Value previous close price pcp-->
                                        {% set pcp = PreviousClose().my_prev_close(holding.script) %}
                                        <td class="float-column">{{ format_price(holding.current_value) }}</td>
                                         <!--Profit Loss pl = profit loss-->
                                        {% set pl = holding.current_value - holding.total_investments %}
                                        <td class="{{ "green" if (pl > 0) == True else "red"}} float-column">{{format_price(pl |abs)}}</td>

                                        <!--Buttons-->
                                        <td>
                                            <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#Modal-Buy-{{ holding.script }}">Buy</button>
                                            <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#Modal-Sell-{{ holding.script }}">Sell</button>
                                            <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#Modal-Add-{{ holding.script }}">Add Bonus</button>
                                            
                                        </td>
                                    </tr>
                                {% else %}
                                    {% set avg = 0 %}
                                {% endif %}
                        {% endif %}
                {% endfor %}
            </tbody>
            <footer class="text-center"><sm>{{ bhavcopy_date() }}</sm></footer>
        </table>

    </div>
<!-- Pagination links -->
<div class="pagination justify-content-center">
    {% if page > 1 %}
        <a class="btn btn-outline-secondary mb-4" href="{{ url_for('holdings_page', page=page-1) }}">Previous</a>
    {% endif %}
    {% for num in calculate_page_range(page, total_pages) %}
        {% if num == page %}
            <span class="current-page btn btn-secondary mb-4">{{ num }}</span>
        {% else %}
            <a class="btn btn-outline-secondary mb-4" href="{{ url_for('holdings_page', page=num) }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page < total_pages - 1 %}
        ...
        <a class="btn btn-outline-secondary mb-4" href="{{ url_for('holdings_page', page=total_pages) }}">{{ total_pages }}</a>
    {% endif %}
    {% if page < total_pages %}
        <a class="btn btn-outline-secondary mb-4" href="{{ url_for('holdings_page', page=page+1) }}">Next</a>
    {% endif %}
</div>




{% endblock %}



<!-- This table is dummy table to export to excel file as some of the columns are excluded from main table
Will work in future as this is giving problem with modal(modal gets transparent)-->

<div class="table" hidden>
    <table class="table table-light table-bordered table-striped table-sm" id="data">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">script</th>
                <th scope="col">Qty</th>
                <th scope="col">Avg Cost</th>
                <th scope="col">Investment</th>
                <th scope="col">Prev Close</th>
                <th scope="col">Curr. Value</th>
                <th scope="col">Profit-Loss</th>
            </tr>
        </thead>
        <tbody>
            {% for holding in holdings %}
            {% set outer_loop = loop %}
                {% if outer_loop.index0 == loop.index0 %}
                    {% include 'includes/trade_modal.html' %}
                    {% if (holding.net_qty | int) > 0 %}
                        <tr>
                            <td></td>
                            {% if '_' in holding.script %}
                                <td>{{ holding.script | replace('_', '&') }}</td>
                            {% else %}
                                <td>{{ holding.script }}</td>
                            {% endif %}
                        
                            <td>{{ holding.net_qty }}</td>
                        
                            {% set avg =  (holding.total_investments | int) / (holding.net_qty | int) %}
                            {% if avg < 0 %}
                                {% set avg = 0.00 %}
                            {% endif %}
                            <td>{{ format_price(avg | round(2) | float) }}</td>
                            {% set invested = holding.total_investments %}
                            {% if invested < 0 %}
                                {% set invested = 0.00 %}
                            {% endif %}
                        
                            <td>{{ format_price(invested | round(2) | float)}}</td>
                            
                            <td>{{ format_price(PreviousClose().my_prev_close(holding.script)) }}</td>
                            {% set ltp = PreviousClose().my_prev_close(holding.script) %}
                        
                            <td>{{ format_price((ltp | float ) * (holding.net_qty)) }}</td>
                        
                            {% set curr_value = (ltp | float ) * (holding.net_qty) %}
                            {% set investment = (holding.total_investments) %}
                            {% set result = curr_value - investment %}
                        
                            <td class="{{ "green" if (curr_value > investment) == True else "red"}}">{{format_price(result |abs)  }}</td>
                        </tr>
                    {% else %}
                    {% set avg = 0 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>




{%- macro format_price(price, thousand_separator=',', decimal_separator='.', decimal_places=2) -%}
{%- set price_as_string = price | string -%}
{%- set price_split = price_as_string.split('.') -%}
{%- set price_integer = price_split[0] -%}
{%- if price_split | count > 1 -%}
{%- set price_fraction = price_split[1] -%}
{%- if price_fraction | length < decimal_places -%}
{%- set price_fraction = price_fraction.ljust(decimal_places, '0') -%} 
{%- else -%}
{%- set price_fraction = price_fraction[:decimal_places] -%}
{%- endif -%}
{%- else -%}
{%- set price_fraction = '' -%}
{%- endif -%}
{%- set formatted_price_integer = price_integer | reverse | batch(3) | map('join', '') | join(thousand_separator) | reverse -%}
{%- if price_fraction != '' -%}
{%- set formatted_price = formatted_price_integer ~ decimal_separator ~ price_fraction -%}
{%- else -%}
{%- set formatted_price = formatted_price_integer-%}
{%- endif -%}
{{- formatted_price -}} {%- endmacro -%}


