{% extends 'layout.html' %}
{% block title %}Holdings{% endblock title %}
{% block content %}
<div class="row"> <!--div first row starts (export - import)-->
    
    <div class="clear-fix col-6">
        <div class="float-start">
            <a href="#" class="btn btn-outline-secondary btn-sm mx-2">
                {% if net_investment.total_investment != None and net_investment.total_investment > 0 %}
                    Net Investment: {{ net_investment.total_investment | round | float |numberFormat}}
                {% else %}
                Net Investment:
                {% endif %}</a>
            <a href="{{ url_for('buy_page') }}" class="btn btn-outline-success btn-sm mx-2">Buy</a>
            <button class="btn btn-outline-secondary btn-sm" onclick="export_to_excel()" id="export_data">Export to xls</button>
        </div>
    </div>
    <div class="clear-fix col-6">
        <div class="float-end">
            <form  action = "/data_import" method = "POST" enctype = "multipart/form-data">
                <input class="btn btn-outline-secondary btn-sm"  type = "file" name = "File" />
                <input class="btn btn-outline-secondary btn-sm" type = "submit" value = "Import" />
            </form>
        </div>
    </div>

</div> <!--div first row ends (export - import)-->
<table class="table table-dark table-striped table-sm tableFixHead">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">script</th>
            <th scope="col">Qty</th>
            <th scope="col">Avg Cost</th>
            <th scope="col">Investment</th>
            <th scope="col">LTP</th>
            <th scope="col">Curr. Value</th>
            <th scope="col">Profit-Loss</th>
            <th scope="col">Buy/Sell</th>
        </tr>
    </thead>
    <tbody>
        {% for holding in holdings.items %}
            {% set outer_loop = loop %}
            {% for key, value in dict.items() %}
                {% if outer_loop.index0 == loop.index0 %}
                {% include 'includes/trade_modal.html' %}
                {% include 'includes/add_bonus_modal.html' %}
                    {% if (holding.shares | int) > 0 %}
                        <tr>
                            <td></td>
                            <td>{{ holding.script }}</td>
                            <td>{{ holding.shares }}</td>
                            {% set avg =  (holding.total_investments | int) / (holding.shares | int) %}
                            {% if avg < 0 %}
                                {% set avg = 0.00 %}
                            {% endif %}
                            <td>{{ format_price(avg | round(2) | float) }}</td>
                            {% set invested = holding.total_investments %}
                            {% if invested < 0 %}
                                {% set invested = 0.00 %}
                            {% endif %}
                            <td>{{ format_price(invested | round(2) | float)}}</td>
                            <td>{{ format_price(value | round(2) | float) }}</td>
                            <td>{{ format_price((value | round(2) | float ) * (holding.shares | round(2) | float)) }}</td>

                            {% set curr_value = (value | round(2) | float ) * (holding.shares | round(2) | float) %}
                            {% set investment = (holding.total_investments) %}
                            {% set result = curr_value - investment %}

                            <td class="{{ "green" if (curr_value > investment) == True else "red"}}">{{format_price(result |abs)  }}</td>
                            <td>
                                <button type="button" class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#Modal-Buy-{{ holding.script }}">Buy</button>
                                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#Modal-Sell-{{ holding.script }}">Sell</button>
                                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#Modal-Add-{{ holding.script }}">Add Bonus</button>
                            </td>
                        </tr>
                    {% else %}
                        {% set avg = 0 %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

    <div class="text-center paginated">
        {% for page_num in holdings.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if holdings.page == page_num %}
                    <a class="btn mb-4" id="btn-current" href="{{ url_for('holdings_page', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('holdings_page', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>



<!-- This table is dummy table to export to excel file as some of the columns are excluded from main table-->
  <div hidden>
    <table class="table table-dark table-striped" id="data">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">script</th>
                <th scope="col">Qty</th>
                <th scope="col">Avg Cost</th>
                <th scope="col">Investment</th>
                <th scope="col">LTP</th>
                <th scope="col">Curr. Value</th>
                <th scope="col">Profit-Loss</th>
            </tr>
        </thead>
        <tbody>
            {% for holding in holdings %}
                {% set outer_loop = loop %}
                {% for key, value in dict.items() %}
                    {% if outer_loop.index0 == loop.index0 %}
                    {% include 'includes/trade_modal.html' %}
                    {% if (holding.shares | int) > 0 %}
                            <tr>
                                <td></td>
                                <td>{{ holding.script }}</td>
                                <td>{{ holding.shares }}</td>
                                {% set avg =  (holding.total_investments | int) / (holding.shares | int) %}
                                {% if avg < 0 %}
                                    {% set avg = 0.00 %}
                                {% endif %}
                                <td>{{ (avg | round(2) | float) |numberFormat }}</td>
                                {% set invested = holding.total_investments %}
                                {% if invested < 0 %}
                                    {% set invested = 0.00 %}
                                {% endif %}
                                <td>{{ (invested | round(2) | float) |numberFormat  }}</td>
                                <td>{{ value |numberFormat }}</td>
                                <td>{{ ((value | round(2) | float ) * (holding.shares | round(2) | float)) |numberFormat }}</td>
    
                                {% set curr_value = (value | round(2) | float ) * (holding.shares | round(2) | float) %}
                                {% set investment = (holding.total_investments ) %}
                                {% set result = curr_value - investment %}
    
                                <td class="{{ "green" if (curr_value > investment) == True else "red"}}">{{result |numberFormat }}</td>
                                {% else %}
                                    {% set avg = 0 %}
                        </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock content %}

{%- macro format_price(price, thousand_separator=',', decimal_separator='.', decimal_places=2) -%}
{%- set price_as_string = price | string -%}
{%- set price_split = price_as_string.split('.') -%}
{%- set price_integer = price_split[0] -%}
{%- if price_split | count > 1 -%}
{%- set price_fraction = price_split[1] -%}
{%- if price_fraction | length < decimal_places -%}
{%- set price_fraction = price_fraction.ljust(decimal_places, '0') -%} 
{%- else -%}
{%- set price_fraction = price_fraction[:decimal_places] -%}
{%- endif -%}
{%- else -%}
{%- set price_fraction = '' -%}
{%- endif -%}
{%- set formatted_price_integer = price_integer | reverse | batch(3) | map('join', '') | join(thousand_separator) | reverse -%}
{%- if price_fraction != '' -%}
{%- set formatted_price = formatted_price_integer ~ decimal_separator ~ price_fraction -%}
{%- else -%}
{%- set formatted_price = formatted_price_integer-%}
{%- endif -%}
{{- formatted_price -}} {%- endmacro -%}


