{% extends 'layout.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="row">
  <div class="container dashboard_cards">
    {% if investments %}
      {% for item in brokers %}
      {% set outer_loop = loop %}
        {% for inv in investments %}
        {% set inner_loop = loop %}
          {% for fnds in funds %}
          {% include 'includes/add_funds_modal.html' %}
          {% include 'includes/withdraw_funds_modal.html' %}
            {% if outer_loop.index0 == loop.index0 %}
              {% if inner_loop.index0 == loop.index0 %}
  
                            <div class="card col-3 d-flex dashboard_cards">
                              <div class="card-body dashboard_cards">
                                      <div>
                                      <h4 class="card-title">{{ item.name }}</h4>
                                      <hr>
                                      <h5 class="card-text">Trading Code: {{ item.trading_code }}</h5>
                                      <div class="d-flex">
                                        {% if inv.total != None %}
                                          {% if inv.total < 0 %}
                                          {% set invested = 0.00 %}
                                        <h5 class="card-currency">Invested Amt:&#160; </h5>
                                        <h5 class="card-currency green" > {{ format_price(invested) }}</h5>
                                          {% else %}
                                          <h5 class="card-currency green" > {{ format_price(inv.total) }}</h5>
                                          {% endif %}
                                        {% endif %}
                                      </div>
                                      <hr>
                                      <div class="d-flex">
                                        <h5 class="card-currency">Funds:&#160; </h5>
                                        <h5 class="card-currency green" >{{ format_price(fnds) }}</h5>
                                      </div>
                                      <hr>
                                      <div class="d-flex">
                                        <h5 class="card-text me-3" ><button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addFunds-{{ item.id }}">
                                          Add Funds
                                      </button></h5>
                                      <h5 class="card-text me-3" ><button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#withdrawFunds-{{ item.id }}">
                                        Withdraw Funds
                                    </button></h5>
                                      </div>
                                  </div>
                              </div>
                            </div>
              {% endif %}
              {% endif %}
            {% endfor %}    
        {% endfor %}
      {% endfor %}
    </div>
    {% else %}
      <div class="container dashboard_cards">
        <div class="text-center dashboard_cards">
          <img class='mb-3' src="{{ url_for('static', filename='images/new_version_logo.png') }}" width=200 alt="Website Logo">
        </div>
        <hr>
        <div>
          {% for item in brokers %}
          {% include 'includes/add_funds_modal.html' %}
          <div class="card" style="width: 18rem;">
            <div class="card-header">
              <div>{{ item.name }}</div>
              <div>Trading Code: &#160; {{ item.trading_code }}</div> 
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Invested Amt:&#160; 0.00</li>
              <li class="list-group-item">Funds:&#160; 0.00</li>
            </ul>
            <div class="card-footer">
              <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#addFunds-{{ item.id }}">
                Add Funds
              </button>
  
              <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#withdrawFunds-{{ item.id }}">
                Withdraw Funds
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  
</div>
{% endblock content %}

{%- macro format_price(price, thousand_separator=',', decimal_separator='.', decimal_places=2) -%}
{%- set price_as_string = price | string -%}
{%- set price_split = price_as_string.split('.') -%}
{%- set price_integer = price_split[0] -%}
{%- if price_split | count > 1 -%}
{%- set price_fraction = price_split[1] -%}
{%- if price_fraction | length < decimal_places -%}
{%- set price_fraction = price_fraction.ljust(decimal_places, '0') -%} 
{%- else -%}
{%- set price_fraction = price_fraction[:decimal_places] -%}
{%- endif -%}
{%- else -%}
{%- set price_fraction = '' -%}
{%- endif -%}
{%- set formatted_price_integer = price_integer | reverse | batch(3) | map('join', '') | join(thousand_separator) | reverse -%}
{%- if price_fraction != '' -%}
{%- set formatted_price = formatted_price_integer ~ decimal_separator ~ price_fraction -%}
{%- else -%}
{%- set formatted_price = formatted_price_integer-%}
{%- endif -%}
{{- formatted_price -}} {%- endmacro -%}