{% extends 'layout.html' %}
{% block title %}Invoice{% endblock title %}
{% block content %}

<div class="row">
    <div class="row h-50 text-center">
        <div class="col-4"></div>
        <div class="col-4">
            <h4>Cost Breakup</h4>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% set ns = namespace(buy_cost = 0.0) %}
{% set ns = namespace(sell_cost = 0.0) %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 invoice_row text-center">
        <div class="col-6 left-div"> <!-- ********************************* Buy Table Starts -->
            <table class="table" id="invoice" style="width: 100%">
                {% set ns.buy_cost = 0.0 %}
                {% for j in buy_data %}
                {% set outer_loop = loop %}
                {% if outer_loop.index0 == loop.index0 %}
                <thead>
                    <th>Buy: {{j.script}}</th>
                    <th>{{j.trading_code}}</th>
                </thead>
                <tr>
                    <th style="width: 70%"></th>
                    <th style="width: 30%"></th>
                </tr>
                    <tr class="text-left">
                        <td style="width: 70%">Date:</td>
                        <td style="width: 30%">{{j.date.strftime('%d/%m/%y')}}</td>
                    </tr>
                    <tr>
                        <td style="width: 70%">Buy Qty:</td>
                        <td style="width: 30%">{{j.qty}}</td>
                    </tr>
                    <tr>
                        <td style="width: 100%">Avg. Buy Price:</td>
                        <td style="width: 30%">{{j.net_rate_per_unit}}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%">Total Brokerage:</td>
                        <td style="width: 45%">{{j.total_brokerage}}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%">DP Charges:</td>
                        <td style="width: 45%">{{j.dp_chgs}}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%">Total Taxes:</td>
                        <td style="width: 45%">{{j.total_taxes}}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%">Net Invested:</td>
                        <td style="width: 45%">{{j.net_total }}</td>
                    </tr>
                    {% set ns.buy_cost = ns.buy_cost + j.net_total %}
                    {% endif %}
                    {% endfor %}
                </table>
                <b>{{ ns.buy_cost }}</b>
            </div> <!-- ********************************* Buy Table Ends -->
            <div class="col-6 right-div"> <!-- ********************************* Sell Table Starts -->
                <table class="table" id="invoice" style="width: 100%">
                    {% set ns.sell_cost = 0.0 %}
                    {% for j in sell_data %}
                    <thead>
                        <th>Sell: {{j.script}}</th>
                        <th>{{j.trading_code}}</th>
                    </thead>
                    <tr>
                        <th style="width: 70%"></th>
                        <th style="width: 30%"></th>
                    </tr>
                    <tr class="text-left">
                        <td style="width: 70%">Date:</td>
                        <td style="width: 30%">{{j.date.strftime('%d/%m/%y')}}</td>
                    </tr>
                    <tr>
                        <td style="width: 70%">Buy Qty:</td>
                        <td style="width: 30%">{{j.qty}}</td>
                    </tr>
                    <tr>
                        <td style="width: 100%">Avg. Buy Price:</td>
                        <td style="width: 30%">{{j.net_rate_per_unit}}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%">Total Brokerage:</td>
                        <td style="width: 45%">{{j.total_brokerage}}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%">DP Charges:</td>
                        <td style="width: 45%">{{j.dp_chgs}}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%">Total Taxes:</td>
                        <td style="width: 45%">{{j.total_taxes}}</td>
                    </tr>
                    <tr>
                        <td style="width: 45%">Net Earned:</td>
                        <td style="width: 45%">{{j.net_total |abs}}</td>
                    </tr>
                    {% set ns.sell_cost = ns.sell_cost + j.net_total %}
                    {% endfor %}
                </table>
                <b>{{ ns.sell_cost |abs }}</b>
            </div><!-- ********************************* Sell Table End -->
        </div>
    <div class="col-2"></div>
</div>
<div class="row text-center">
    <div class="col-2"></div>
        <div class="col-8 bottom_line-div"> <!-- ********************************* Net Gain Block Starts -->
            {% set gain_loss = (ns.sell_cost |abs - ns.buy_cost) %}
            <table>
                {% if gain_loss > 0 %}
                <tr>
                <td>Net Gain:</td>
                <td class="{{ "green" if (gain_loss > 0) == True else "red" }}"> {{format_price(gain_loss)}}</td>
                </tr>
                {% else %}
                <tr>
                <td>Net Loss:</td>
                <td class="{{ "green" if (gain_loss > 0) == True else "red" }}"> {{format_price(gain_loss |abs )}}</td>
                </tr>
                {% endif %}
            </table>
            <span  </span>
        </div><!-- ********************************* Net Gain Block Ends -->
    <div class="col-2"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <p><b>Disclaimer:</b> <small>The information provided here may not be actual and are approximate only. Please refer to the contract notes for actual charges levied at the end of the day.</small></p>

    </div>
    <div class="col-2"></div>
</div>
{% endblock content %}

{%- macro format_price(price, thousand_separator=',', decimal_separator='.',
decimal_places=2) -%} {%- set price_as_string = price | string -%} {%- set
price_split = price_as_string.split('.') -%} {%- set price_integer =
price_split[0] -%} {%- if price_split | count > 1 -%} {%- set price_fraction =
price_split[1] -%} {%- if price_fraction | length < decimal_places -%} {%- set
price_fraction = price_fraction.ljust(decimal_places, '0') -%} {%- else -%}
{%- set price_fraction = price_fraction[:decimal_places] -%} {%- endif -%} {%-
else -%} {%- set price_fraction = '' -%} {%- endif -%} {%- set
formatted_price_integer = price_integer | reverse | batch(3) | map('join', '')
| join(thousand_separator) | reverse -%} {%- if price_fraction != '' -%} {%-
set formatted_price = formatted_price_integer ~ decimal_separator ~
price_fraction -%} {%- else -%} {%- set formatted_price =
formatted_price_integer-%} {%- endif -%} {{- formatted_price -}} {%- endmacro
-%}
