{% extends 'layout.html' %}
{% block title %}Sell History{% endblock title %}
{% block content %}
<div class="table"> <!--div table starts-->
    <div class='text-center'><h3>Sell History Table</h3></div>
    <table class="table table-light table-striped table-sm tableFixHead">
        <thead>
            <tr>
                <th>Date</th>
                <th>Account</th>
                <th>Script</th>
                <th>Qty</th>
                <th>Sell Price</th>
                <th>Brokerage Per Unit</th>
                <th>Net Rate Per Unit</th>
                <th>Net Total (before levies)</th>
                <th>Total Taxes</th>
                <th>Net Recieveable</th>
            </tr>
        </thead>
        <tbody>
            {% for ss in stocks_sold.items %}
                <tr>
                    <td>{{ ss.date.strftime('%d/%m/%y') }}</td>
                    <td>{{ ss.trading_code }}</td>
                    {% if '_' in ss.script %}
                        <td>{{ ss.script | replace('_', '&') }}</td>
                    {% else %}
                        <td>{{ ss.script }}</td>
                    {% endif %}
                    <td>{{ ss.qty |abs }}</td>
                    <td>{{ format_price(ss.price)}}</td>
                    <td>{{ format_price(ss.brokerage_per_unit) }}</td>
                    <td>{{ format_price(ss.net_rate_per_unit)}}</td>
                    <td>{{ format_price(ss.net_total_before_levies) }}</td>
                    <td>{{ format_price(ss.total_taxes) }}</td>
                    <td>{{ format_price(ss.net_total |abs)}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div> <!--div table ends-->

<div class="text-center paginated">
    {% for sell_page_num in stocks_sold.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if sell_page_num %}
            {% if stocks_sold.page == sell_page_num %}
                <a class="btn btn-secondary mb-4" id="btn-current" href="{{ url_for('sell_history_page', page=sell_page_num) }}">{{ sell_page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('sell_history_page', page=sell_page_num) }}">{{ sell_page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}

{%- macro format_price(price, thousand_separator=',', decimal_separator='.', decimal_places=2) -%}
{%- set price_as_string = price | string -%}
{%- set price_split = price_as_string.split('.') -%}
{%- set price_integer = price_split[0] -%}
{%- if price_split | count > 1 -%}
{%- set price_fraction = price_split[1] -%}
{%- if price_fraction | length < decimal_places -%}
{%- set price_fraction = price_fraction.ljust(decimal_places, '0') -%} 
{%- else -%}
{%- set price_fraction = price_fraction[:decimal_places] -%}
{%- endif -%}
{%- else -%}
{%- set price_fraction = '' -%}
{%- endif -%}
{%- set formatted_price_integer = price_integer | reverse | batch(3) | map('join', '') | join(thousand_separator) | reverse -%}
{%- if price_fraction != '' -%}
{%- set formatted_price = formatted_price_integer ~ decimal_separator ~ price_fraction -%}
{%- else -%}
{%- set formatted_price = formatted_price_integer-%}
{%- endif -%}
{{- formatted_price -}} {%- endmacro -%}
     