{% extends 'layout.html' %}
{% block title %}Settings{% endblock title %}

{% block content %}
<div class="container form_bg"> <!--div container starts-->
    <hr>
    <div class="row text-center"> <!--First row-->
        
        <div class="col-4 user_settings"> <!--div first column starts (User Details block )-->
            <h6 class="text-center">User Details</h6>
            {% set del_user = ""%}
            {% for user in users %}
            {% include 'includes/delete_my_account_modal.html' %}
                <table class="table table-light table-striped table-sm">
                    <thead style="height: 65px">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody style="height: 65px">
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td><button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#Modal-Del-{{ user.id }}">Delete Account</button></td>
                        </tr>
                    </tbody>
                </table>
            
            {% endfor %}
      
        </div> <!--div first column ends (User Details block )-->

        <div class="col-8 user_settings"> <!--div second column starts (Taxes details )-->
            <h6 class="text-center">Tax Details</h6>
            {% for tax in taxes %}
                <table class="table table-light table-striped table-sm">
                    <thead style="height: 65px">               
                        <tr>
                            <th>#</th>
                            <th>GST</th>
                            <th>SEBI Chgs</th>
                            <th colspan="2">STT</th>
                            <th colspan="2">Stamp Duty</th>
                        </tr>
                    </thead>
                    <tbody style="height: 65px">
                        <tr>
                            <td></td>
                            <td>{{ tax.gst }}&#37;</td>
                            <td>{{ tax.sebi_chgs }}&#37;</td>
                            <td>Delivery: {{ tax.stt_delivery }}&#37;</td>
                            <td>Intraday: {{ tax.stt_intraday }}&#37;</td>
                            <td>Delivery: {{ tax.stamp_duty_delivery }}&#37;</td>
                            <td>Intraday: {{ tax.stamp_duty_intraday }}&#37;</td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
        </div> <!--div second column ends (Taxes details )-->

    </div> <!--div first row ends-->

    <hr>
    <div class="strips">
        <h6 class="text-center bg-secodary">Brokers Details <a class="btn btn-secondary btn-sm" href="{{ url_for('add_brokers_page') }}">Add Brokers</a></h6>
    </div>
    <hr>

    {% set footer_message = False %}
    <div class="row mx-2"> <!--div second row starts-->
        <table class="table table-light table-striped table-sm">
            <thead>
                <tr Style="font-size:12px" >
                    <th class="scope">#</th>
                    <th class="scope">Broker Name</th>
                    <th class="scope">Trading Code</th>
                    <th class="scope">Eq Delivery</th>
                    <th class="scope">Eq Intra</th>
                    <th class="scope">Transaction Chgs</th>
                    <th class="scope">Dp Chgs</th>
                    <th class="scope">Settings</th>
                </tr>
            </thead>
                <tbody>
                    <form method="POST" class="form-register">
                        
                        {% for brokers in broker_query %}
                        {% set outer_loop = loop %}
                        {% for item in broker_data %}
                        {% include 'includes/edit_broker_modals.html' %}
                        {% include 'includes/add_funds_modal.html' %}
                        {% if outer_loop.index0 == loop.index0 %}
                            <tr class="row_numbering">
                                <td></td>
                                
                                {% if brokers.name == "Upstox" %}
                                {% set footer_message = True %}
                                <td>{{ brokers.name }}
                                    <div>
                                        <p Style="font-size:10px">Equity Delivery*
                                            ₹20 or 2.5% (whichever is lower) per order on Stocks</p>
                                    </div>
                                </td>
                                {% else %}
                                <td>{{ brokers.name }}</td>
                                {% endif %}
                                <td>{{ brokers.trading_code }}</td>
                                <td>{{ brokers.equity_delivery }}</td>
                                <td>{{ brokers.equity_intraday }}</td>
                                <td>{{ brokers.transaction_chgs }}</td>
                                <td>{{ brokers.dp_chgs }}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop-{{ brokers.id }}">
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-outline-secodary btn-sm" data-bs-toggle="modal" data-bs-target="#addFunds-{{ item.id }}">
                                        Add Funds
                                    </button>
                                    <button type="button" class="btn btn-outline-danger btn-sm" onClick="location.href='/delete_broker/{{brokers.trading_code}}'">
                                        Del
                                    </button>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </form>
                </tbody>
        </table>

    </div><!--div second row ends -->
    <hr>
    <br>
    <div class="footer text-center">
        <a class="btn btn-secondary btn-sm mb-3" href="{{ url_for('home_page') }}">Close</a>
    </div>

</div> <!--div container ends-->
{% endblock content %}