body{
    background-color: whitesmoke;
    font-family: sans-serif;
}

/* div form */
.form_bg{
    box-shadow: 10px 12px 10px rgba(0,0,0,0.1);
}

/* div for form */
form, div.border-top {
    margin: 8px;
}

/* forms */
.form-control:focus {
    border: 2px solid rgb(255, 102, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 102, 0, 0.6);
    outline: none; 
    background-color: #ffffff;
  }

/* Logo and Brand Name */
div.logo{
    display: flex;
}
h6.title, div.user_settings, div.table{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Logo on login and register page */
img.logo{
    margin-right: 1rem;
    width: 100px;
}

/* Home page cards */
div.card{
    margin: 5px;
}


/* Nav bar dark */
nav{
    background-color: #222222;
    color: white;
}

/* FOR TABLE */
.red {
    color: red;
}

.green {
    color: #3c9401;
}
